body {
    background: #000000
}

.principal{
    background: #ac0d0de1;
    padding: 30px;
}
.itens{   
    font-style: italic;

}
.beneficios{
    background: #ffffff;
    padding: 30px;
}

h2{
    text-align: center;
}

ul{
    display: inline-block; /* alinhar pela linha de cima*/
    vertical-align: top; /*alinhar pelo topo*/
    width: 20%; /* largura */
    margin-right: 15%; 

}

img{
    width: 50%;
}
#banner {
    width: 100%;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
    /* se utiliza ponto e vírgula para fechar o código, diferente do html*/ 
    /* colocar . antes de chamar pelo nome */
}